/*==PAGE ACCUEIL==*/
.bgIndex{
    height: 100vh;
    background-image: radial-gradient(circle, #8f63f8, #7d51ea, #6b3edc, #3300d0, #0006d0);
}

.bgIndex::before{
    content: '';
    background-image: url(../images/bgnoise.jpg);
    filter: brightness(1.5);
    filter: contrast(100%);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    z-index: 100%;
}

/*================
========NAV=======
==============*/
nav {float: right; margin: 40px 40px 0 0}
.navBurger{font-size: 1.5em; color:rgba(255, 255, 255, 0.91);}
.navStandard li{display: inline-block; margin: 5px;}
ul li a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.91);
}

#logoNav{
	width: 100px;
	margin: 40px 0 0 40px;
}

#blcTitleindex {
    width: 70%;
    border: 15px solid white;
	position: absolute;
	padding: 80px;
	left: 50%;
	top: 60%;
	transform: translateY(-50%);
	margin-left: -35%;
    box-shadow: 3px 6px 22px #00000094;
	opacity:0;
}

ul.navResponsive.d-md-block.d-lg-none {
    margin: 0;
}
.navResponsive {
    position: absolute;
    background-color: #00000075;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 4px 3px 6px #282828;
    z-index: 900;
}

.navResponsive li{
	position: relative;
	text-decoration: none;
	list-style-type: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -420%);
	margin-top: 30px;
}

.navResponsive li a{
	color: white;
}

.blur{
  position: abosolute;
  z-index: 1;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0;
  top:0;
}

.animOpacity-In{
	display: none
}

/*================
======FOOTER======
==================*/
footer{
	position: fixed;
	bottom: 0; color: rgba(255, 255, 255, 0.91);
	letter-spacing: 1px;width: 100%;
	padding: 0 40px;
}
footer a, footer a:hover{color: rgba(255, 255, 255, 0.91); text-decoration: none}
.footerContact{font-weight: 100;}
 left: 40px; bottom: 10px; font-weight: 500;
.footerLang li{display: inline; width: 100%;}
.footerLang{
	position: absolute;
	margin-left: -50px;
	bottom: 0;
	width: 100px;
	left:50%;
	padding: 0;
	color: rgba(255, 255, 255, 0.91);
	letter-spacing: 1px;}

.footerRsx li{display: inline; width: 20%;}
.footerRsx{ color: rgba(255, 255, 255, 0.91); letter-spacing: 1px;}
