/*==PAGE ACCUEIL==*/
.bgIndex{
    height: 100vh;
    background-image: radial-gradient(circle, #8f63f8, #7d51ea, #6b3edc, #3300d0, #0006d0);
}

.bgIndex::before{
    content: '';
    background-image: url(../images/bgnoise.jpg);
    filter: brightness(1.5);
    filter: contrast(100%);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    z-index: 100%;
}

/*================
========NAV=======
==============*/
nav{float: right; margin: 40px 40px 0 0}
ul li{display: inline-block; margin: 5px}
ul li a{
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.91);
}

#logoNav{
	width: 100px;
	margin: 40px 0 0 40px;
}

#blcTitleindex {
    width: 1000px;
    border: 15px solid white;
	position: absolute;
	padding: 80px;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	margin-left: -500px;
    box-shadow: 3px 6px 22px #00000094;
}

/*================
======FOOTER=====
==============*/
/*MAIL*/
footer{position: absolute; bottom: 20px; left:40px; color: rgba(255, 255, 255, 0.91); letter-spacing: 1px;}
footer a, footer a:hover{color: rgba(255, 255, 255, 0.91); text-decoration: none}
.footerContact{font-weight: 100;}
.footerMail{font-weight: 500;}
.footerLang{position: absolute; bottom: 20px; right:40px; color: rgba(255, 255, 255, 0.91); letter-spacing: 1px;}

/*LANG*/
